{% extends 'courses/course_dashboard.html' %}

<!-- Chamando o dashboard_content do avô, que é dashboard -->
{% block dashboard_content %}
    {% for announcement in course.announcements.all %}
        <div class="well">
            <h2>{{ announcement.title }}</h2>
            {{ announcement.content|linebreaks }}
            <p>
                <a href="#comments" title="">
                    <i class="fa fa-comments-o"></i>
                    {% with coments_count=announcement.comments.count %}
                        {{ coments_count }}
                        Comentário{{ coments_count|pluralize }}
                    {% endwith %}
                </a>
            </p>
        </div>
    {% empty %}
        <div class="well">
            <h2>Nenhum Anúncio criado!!</h2>
        </div>
    {% endfor %}

{% endblock %}