{%  extends 'courses/course_dashboard.html' %}

<!-- Repensar essa tela de cancelamento do curso, pois acredito que não é preciso criar uma página
 só pra issso, poderia usar um dialog ou algo do tipo
 -->
<!-- Chamando o dashboard_content do avô, que é dashboard -->
{% block dashboard_content %}
    <form action="" method="post">
        {% csrf_token %}
        <h3>Você deseja realenete cancelar a inscrição deste curso?</h3>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-error">
                Confirmar
            </button>
            <a href="{% url 'announcements' course.slug %}" class="pure-button pure-button-primary">Cancelar</a>

        </div>
    </form>
{% endblock %}